.flex-container {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.carousel-container {
  background: #6b54fe;
  height: 100%;
  flex-basis: 50%;
  overflow: auto;
  /* position: relative; */
}

.nav-button {
  /* position: absolute; */
  z-index: 3;
}
